﻿.gallery_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 45vh;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle;
    max-height: 85%;
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    position: relative;
    transition: 0.3s all ease-in-out;
    margin: auto;
    box-sizing: border-box;
    filter: drop-shadow(0 -4px 0 #bd7c02) drop-shadow(0 4px 0 #bd7c02) drop-shadow(-4px 0 0 #bd7c02) drop-shadow(4px 0 0 #bd7c02);
}

    .imageWrapper img {
        width: auto;
        height: auto;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin: 0;
        padding: 0;
        position: relative !important;
        box-sizing:border-box;
    }

    .imageWrapper:hover {
        transform: scale(1.025);
        cursor: pointer;
    }

.gallery_item p {
    color: white;
    font-size: 1.75em;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: calc(16px + 1vw);
    margin-top: 0.5em;
    margin-bottom: 0;
}

@media(max-width: 124em) {
    .gallery_item p {
        font-size: 26px;
    }
}

@media(max-width:87.5em) {
    .gallery_item {
        width: 30%;
        height: 45vh;
    }

        .gallery_item p {
            font-size: 1.5em;
        }
}

@media screen and (orientation: landscape) {
    @media(max-width: 60em) {

        .gallery_item {
            width: 45%;
            height: 70vh;
        }

        .imageWrapper:hover {
            transform: none;
            cursor: pointer;
        }

        .gallery_item p {
            font-size: 20px;
            margin-top: 0.5em;
        }
    }

    @media(max-width: 50em) {
        .gallery_item {
            height: 60vh;
        }

            .gallery_item p {
                font-size: 18px;
            }
    }

    @media(max-width: 36em) {
        .gallery_item p {
            font-size: 1em;
        }
    }
}

@media screen and (orientation: portrait) {
    @media(max-width: 68em) {

        .gallery_item {
            width: 45%;
            height: 40vh;
        }

        .imageWrapper:hover {
            transform: none;
            cursor: pointer;
        }

        .gallery_item p {
            font-size: 2em;
        }
    }

    @media(max-width: 50em) {

        .gallery_item {
            width: 70%;
            height: 70vh;
        }

            .gallery_item p {
                font-size: 1.5em;
            }
    }

    @media(max-width: 30em) {
        .gallery_item {
            width: 70%;
            height: 70vh;
        }

            .gallery_item p {
                font-size: 1.35em;
            }
    }
}
