.container {
    display: block;
    position: relative;
    width: 95%;
    height: fit-content;
    margin: auto;
    padding-bottom: 2em;
    overflow: visible;
    padding-left: 3em;
    margin-right: 3em;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

@media(max-width: 1024px) {
    .container {
        padding-left:1em;
        margin-right:1em;
    }
}