.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    gap: 3em;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding-bottom: 2em;
    padding-top: 2em;
}

.button_div{
    width:100%;
}

.button_div button {
    display: flex;
    margin: auto;
    background-color: #dc9102;
    color: black;
    border: none;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 28px;
    font-weight:600;
    padding: 0.25em;
    cursor:pointer;
}

@media(max-width: 1024px) {
    .container {
        padding-left:1em;
        margin-right:1em;
    }
}

@media screen and (orientation: portrait) {
    @media(max-width: 68em) {
        .gallery {
            flex-direction: row;
        }
    }

    @media(max-width: 50em) {
        .gallery {
            flex-direction: column;
        }

    }
}