.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    gap: 3em;
    justify-content: space-evenly;
}

.gallery_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    max-height: 50vh;
    position:relative;
}

.imageWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    max-height: 85%;
    max-width: 100%;
    border: 2px solid #b27734;
}

    .imageWrapper img {
        height:fit-content;
        width:fit-content;
        max-width: 100%;
        max-height: 100%;
        position: relative !important;
    }

        .imageWrapper img:hover {
            transform: scale(1.025);
            cursor: pointer;
        }

    .gallery_item p {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        font-weight:500;
        margin-top: auto;
        margin-bottom:0;
    }

@media(max-width: 800px) {
    .gallery_item {
        width: 90vw;
    }

        .gallery_item p {
            font-size: 1.35em;
            margin-top:0.5em;
        }
}

@media(max-width: 400px){
    .gallery_item p{
        font-size: 1em;
    }
}
