.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    gap: 3em;
    justify-content: space-evenly;
}

.gallery_item {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    max-height: 50vh
}

.imageWrapper {
    display: flex;
    align-items: center; /* New */
    justify-content: center; /* New */
    position: relative;
    margin: auto;
    max-height: 85%;
    max-width: fit-content;
}

.gallery_item img {
    object-fit: contain;
    width: 100%;
    position: relative !important;
    height: auto;
    transition: all 0.3s ease-in-out;
    border: 2px solid #b27734;
}

        .gallery_item img:hover {
            transform: scale(1.025);
            cursor: pointer;
        }

    .gallery_item p {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        font-weight:500;
        margin-top: auto;
        margin-bottom:0;
    }

@media(max-width: 1024px) {
    .gallery_item{
        width:30%;
    }
}

@media(max-width: 800px) {
    .gallery_item {
        width: 80%;
    }
        .gallery_item p {
            font-size: 1.35rem;
        }
}

@media(max-width: 400px){
    .gallery_item p{
        font-size: 1rem;
    }
}
