html{
    height:100vh;
}

body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    height:100vh;
    margin-top: 3em;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
    border: 2px solid #dc9102;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dc9102;
    border-radius: 80px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #bd7c02;
    }

@media (max-width: 68em) {
    body{
        margin-top:3em;
    }
}

@media(max-width: 25em){
    body{
        margin-top: 2em;
    }
}