body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 4em 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
    border: 2px solid #dc9102;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dc9102;
    border-radius: 80px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #bd7c02;
    }

@media screen and (orientation: landscape) {
    @media(max-width: 124em) {
        body {
            margin: 2em 0;
        }
    }

    @media(max-width: 70em) {
        body {
            margin: 5em 0;
        }
    }

    @media(max-width: 60em) {
        body {
            margin: 4em 0;
        }
    }
}

@media screen and (orientation: portrait) {
    @media(max-width: 60em) {
        body {
            margin: 2em 0;
        }
    }
}
