.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: 0;
}

.textDiv {
    width: 90%;
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: 600;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top:1em;
}

    .textDiv p {
        text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
        letter-spacing: 2px;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0.75em;
        white-space: nowrap;
        font-size: calc(18px + 1vw);
        width: 20%;
    }

.headerText {
    color: white;
    border-bottom: 2px solid #dc9102;
    font-size: calc(32px + 1.25vw);
    letter-spacing: 0.05em;
    padding-top: 0.1em;
    margin-top: 1em;
    text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
}

#more {
    color: white;
    text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
    font-size: calc(18px + 1vw);
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 0.5em;
}

.logo {
    width: 50vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.about {
    color: white;
    font-size: calc(12px + 1vw);
    margin: auto 4em;
    text-align: center;
    font-weight: 500;
    width: 90%;
}

.capabilities {
    color: white;
    font-size: calc(12px + 1vw);
    margin: auto 4em;
    text-align: center;
    font-weight: 500;
    font-family: Poppins;
    width: 90%;
}

.competenciesHeader {
    display: flex;
    color: white;
    font-size: calc(24px + 1vw);
    text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
    text-align:center;
}

.competencies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: -2em;
    color: white;
    font-size: calc(18px + 1vw);
    font-family:Poppins;
    justify-content: center;
    text-align: left;
    list-style-position: outside;
    width: 80%;
}

    .competencies li {
        width: 25%;
        margin-bottom: 2em;
        margin-right: auto;
        margin-left: auto;
    }

        .competencies li span {
            position: relative;
            text-align:center;
        }

@media(max-width:124em) {
    .textDiv p {
        font-size: 32px;
    }

    #more {
        font-size: 32px;
    }

    .headerText {
        font-size: 48px;
    }

    .capabilities {
        font-size: 30px;
    }

    .competenciesHeader {
        font-size: 44px;
    }

    .competencies {
        font-size: 36px;
    }
}

@media(max-width:105em) {
    .logo {
        width: 60vw;
    }

    .textDiv p {
        font-size: 24px;
    }

    #more {
        font-size: 24px;
    }

    .headerText {
        font-size: 46px;
    }

    .capabilities {
        font-size: 28px;
    }

    .competenciesHeader {
        font-size: 42px;
    }

    .competencies {
        font-size: 34px;
    }

        .competencies li {
            width: 20%;
        }
}

@media(max-width: 87.5em) {
    .main{
        margin-right:0.25em;
        margin-left:0.25em;
    }
    .logo {
        width: 70vw;
    }

    .textDiv {
        width: 95%;
    }

        .textDiv p {
            font-size: 22px;
            width: 40%;
        }

    #more {
        font-size: 22px;
        width: 40%;
        margin-top: 0;
    }

    .competencies {
        width: 90%;
        justify-content:space-evenly;
    }

        .competencies li {
            width: 27.5%;
        }
}

@media (max-width: 68em) {
    .textDiv p {
        margin-bottom: 1em;
    }
}


@media (max-width: 48em) {

    .textDiv {
        flex-wrap: wrap;
        width: 100%;
    }

        .textDiv p {
            font-size: 20px;
            width: 45%;
        }

    #more {
        font-size: 20px;
        width: 45%;
        margin-top: 0;
    }

    .headerText {
        font-size: 32px;
    }

    .capabilities {
        font-size: 20px;
    }

    .competenciesHeader{
        font-size: 28px;
    }

    .competencies {
        flex-direction: row;
        gap: 0;
        padding: 0;
        margin-left: auto;
        margin-right:auto;
        justify-content: center;
        width: 90%;
        font-size: 20px;
    }

        .competencies li {
            width: 40%;
            margin-left:auto;
        }
}

@media(max-width: 36em){
    .textDiv p{
        width:100%;
    }
    #more{
        width:100%;
     }

    .competenciesHeader{
    }

}

@media(max-width:24em){

}
