.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width:100%;
}

.textDiv {
    width: 80%;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: calc(16px + 1vw);
    font-weight: 600;
    margin: auto;
}

        .textDiv p {
            justify-content: space-evenly;
            flex: 1;
            text-align: center;
            text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
            letter-spacing: 2px;
            flex-wrap: wrap;
            margin-top: 0;
            margin-bottom: 0.75em;
            white-space:nowrap;
        }

.headerText {
    color: white;
    border-bottom: 2px solid #dc9102;
    font-size: 36px;
    letter-spacing: 0.05em;
    padding-top: 0.1em;
}

#more {
    margin-top: 1em;
    color: white;
    text-align: center;
    text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
    font-size: calc(16px + 1vw);
    font-weight: 600;
    letter-spacing: 2px;
}

.logo{
    width: 50vw;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
}

@media(max-width:120em){
    .textDiv{
        font-size:24px;
    }
    #more{
        font-size:24px;
    }
}

@media(max-width:96em){
    .logo{
        width:60vw;
    }
}

@media (max-width: 48em) {
    .logo{
        width: 75vw;
        margin-top: 2.5em;
    }
    .textDiv{
        flex-wrap:wrap;
    }
}