.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 5em;
    justify-content: space-evenly;
    width: 100%;
    margin: 1em;
}

.testimonial {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: Poppins;
    font-size: calc(18px + 0.75vw);
}

.quote{
    display:block;
    flex-direction:column;
    margin-top:auto;
}

.quotee {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 0;
}

@media(max-width:124em) {
    .testimonial{
        font-size:28px;
    }
}

@media(max-width:105em) {
    .testimonial {
        font-size: 26px;
    }
}

@media(max-width: 87.5em) {
    .testimonial {
        font-size: 24px;
    }
}

@media (max-width: 68em) {

    .container{
        gap:3em;
    }

    .testimonial {
        height: fit-content;
        margin-bottom: 2em;
        font-size:24px;
    }
}

@media(max-width: 36em) {
    .container{
        gap: 2em;
    }
    .testimonial {
        font-size: 20px;
        margin-bottom:1.5em;
    }
}

@media(max-width:25em) {
    .testimonial {
        font-size: 18px;
    }

}
