/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/galleryItems.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.galleryItems_gallery___4vyM {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    gap: 3em;
    justify-content: space-evenly;
    margin-top: 3em;
}

.galleryItems_gallery_item__904ck {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    max-height: 50vh
}

.galleryItems_imageWrapper___Sr8l {
    display: flex;
    align-items: center; /* New */
    justify-content: center; /* New */
    position: relative;
    margin: auto;
    max-height: 85%;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.galleryItems_gallery_item__904ck img {
    object-fit: contain;
    width: 100%;
    position: relative !important;
    height: auto;
    transition: all 0.3s ease-in-out;
    border: 2px solid #b27734;
}

        .galleryItems_gallery_item__904ck img:hover {
            transform: scale(1.025);
            cursor: pointer;
        }

    .galleryItems_gallery_item__904ck p {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        font-weight:500;
        margin-top: auto;
        margin-bottom:0;
    }

@media(max-width: 1024px) {
    .galleryItems_gallery_item__904ck{
        width:30%;
    }
}

@media(max-width: 800px) {
    .galleryItems_gallery_item__904ck {
        width: -moz-fit-content;
        width: fit-content;
    }
        .galleryItems_gallery_item__904ck p {
            font-size: 1.35rem;
        }
}

@media(max-width: 400px){
    .galleryItems_gallery_item__904ck p{
        font-size: 1rem;
    }
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/Lightbox.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.Lightbox_lightbox__N0_Gw {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0, 1);
    display: flex;
    flex-direction: column;
    z-index: 3;
    overscroll-behavior: contain;
}

.Lightbox_imageContainer__hYwFZ {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 90vw;
}

.Lightbox_mainImageContainer__6SdBs {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 80%;
    margin: auto;
    margin-bottom: 0;
    justify-content: center;
}

.Lightbox_mainImageWrapper__svxXS {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 90%;
    margin: auto;
}

.Lightbox_mainImage__o8cZa {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.Lightbox_imageDescription__JjUt0 {
    display: flex;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


.Lightbox_arrowButton__btQIu {
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: 1;
}

    .Lightbox_arrowButton__btQIu.Lightbox_left__1DiIn {
        left: 15px;
    }

    .Lightbox_arrowButton__btQIu.Lightbox_right__IyqnB {
        right: 15px;
    }

.Lightbox_closeButton__u2OeW {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: 1;
}

.Lightbox_previewContainer__G7ZNf {
    display: flex;
    justify-content: space-evenly;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5em;
    margin-top: 1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.Lightbox_previewImage__ItZj4 {
    width: 5rem;
    height: 5rem;
    margin: 1rem 1rem;
    cursor: pointer;
    object-fit: cover;
    border: none;
}

.Lightbox_selectedPreview__8AYYU {
    transform: scale(1.4);
}

.Lightbox_placeholder__Eyz6h {
    width: 5rem;
    height: 5rem;
    margin: 1rem 1rem;
    cursor: pointer;
    object-fit: cover;
    border: none;
}

.Lightbox_animateOutToLeft__bcaHN,
.Lightbox_animateOutToRight__cqfvV {
    transition: transform 0.4s ease-in-out;
}

.Lightbox_animateOutToLeft__bcaHN {
    transform: translate3d(-90rem, 0%, 0);
}

.Lightbox_animateOutToRight__cqfvV {
    transform: translate3d(90rem, 0%, 0);
}

.Lightbox_animateInFromLeft__1Cjjz {
    transform: translate3d(-90rem, 0, 0);
    animation: Lightbox_slideInFromLeft__NwlD8 0.4s ease-in-out forwards;
}


.Lightbox_animateInFromRight__G5RzM {
    transform: translate3d(90rem, 0, 0);
    animation: Lightbox_slideInFromRight__H13zH 0.4s ease-in-out forwards;
}


@keyframes Lightbox_slideInFromLeft__NwlD8 {
    to {
        transform: translate3d(0, 0, 0);
    }
}


@keyframes Lightbox_slideInFromRight__H13zH {
    to {
        transform: translate3d(0, 0, 0);
    }
}

.Lightbox_fadeIn__6Fj8r {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.Lightbox_fadeOut__SpGSQ {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

@media(max-width:48em) {
    .Lightbox_arrowButton__btQIu {
        display: none;
    }
}

@media(max-width:37.5em) {
    .Lightbox_imageContainer__hYwFZ {
        max-width: 100vw;
    }

    .Lightbox_imageDescription__JjUt0 {
        font-size: 1.5rem;
        margin-top: 0.25rem;
    }

    .Lightbox_previewImage__ItZj4 {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0.75rem 0.75rem;
    }

    .Lightbox_placeholder__Eyz6h {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0.75rem 0.75rem;
    }

    .Lightbox_closeButton__u2OeW {
        top: 10px;
        right: 10px;
        font-size: 2.25rem;
    }
}

@media(max-width:25em) {
    .Lightbox_imageDescription__JjUt0 {
        font-size: 1.25rem;
    }

    .Lightbox_previewImage__ItZj4 {
        width: 2.75rem;
        height: 2.75rem;
        margin: 0.5rem 0.5rem;
    }

    .Lightbox_placeholder__Eyz6h {
        width: 2.75rem;
        height: 2.75rem;
        margin: 0.5rem 0.5rem;
    }

    .Lightbox_closeButton__u2OeW {
        top: 5px;
        right: 5px;
        font-size: 2rem;
    }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/Gallery.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Gallery_container__nNRQm {
    display: block;
    position: relative;
    width: 95%;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    padding-bottom: 2em;
    overflow: visible;
    padding-left: 3em;
    margin-right: 3em;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

@media(max-width: 1024px) {
    .Gallery_container__nNRQm {
        padding-left:1em;
        margin-right:1em;
    }
}

@media (max-width: 48em) {
    .Gallery_container__nNRQm{
        padding-top:0;
        margin-top:0;
    }
}

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/styles/home.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.home_main__C5E0Z {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width:100%;
}

    .home_textDiv__GApgZ {
        width:80%;
        display: flex;
        flex-direction: row;
        color: white;
        font-size: 22px;
        font-weight:600;
        margin:auto;
    }

        .home_textDiv__GApgZ text {
            justify-content: space-evenly;
            flex: 1 1;
            text-align: center;
            text-shadow: 1.5px 0 0 #b27734, 0 -1.5px 0 #b27734, 0 1.5px 0 #b27734, -1.5px 0 0 #b27734;
            letter-spacing: 2px;
            flex-wrap:wrap;
        }

#home_more__U_0Wj {
    margin-top:1em;
    color: white;
    text-align: center;
    text-shadow: 1.5px 0 0 #b27734, 0 -1.5px 0 #b27734, 0 1.5px 0 #b27734, -1.5px 0 0 #b27734;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}

.home_logo__fwoF8{
    width: 50vw;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}


@media (max-width: 48em) {
    .home_main__C5E0Z div{
        font-size: 18px;
    }
}
