/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/home.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.home_main__C5E0Z {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin: 0;
}

    .home_main__C5E0Z picture {
        display: flex;
        margin: auto;
    }

.home_textDiv__GApgZ {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: 500;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 1em;
}

    .home_textDiv__GApgZ p {
        text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
        letter-spacing: 2px;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0.75em;
        white-space: nowrap;
        font-size: calc(18px + 1vw);
        width: 20%;
    }

.home_headerText__0GAyB {
    color: white;
    border-bottom: 2px solid #dc9102;
    font-size: calc(32px + 1.75vw);
    letter-spacing: 0.05em;
    padding-top: 0.1em;
    margin-top: 1em;
    text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
    font-weight: 500;
}

#home_more__U_0Wj {
    color: white;
    text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
    font-size: calc(18px + 1vw);
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 0.5em;
}

.home_logo__fwoF8 {
    width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.home_about__7XlFx {
    color: white;
    font-size: calc(12px + 1.5vw);
    margin: auto;
    margin-bottom: 0.5em;
    text-align: left;
    text-indent: calc(12px + 2.5vw);
    font-weight: 500;
    font-family: Poppins;
    width: 85%;
}

.home_peter___Anyo {
    width: 30vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.home_competenciesHeader__9psDf {
    display: flex;
    color: white;
    font-size: calc(24px + 1.5vw);
    font-weight: 500;
    text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
    text-align: center;
    margin: auto;
}

.home_competencies__nkdoi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1em;
    margin-bottom: -2em;
    color: white;
    font-size: calc(18px + 1.5vw);
    font-family: Poppins;
    justify-content: center;
    text-align: left;
    list-style-position: inside;
    width: 90%;
    transform: translateX(2.5%);
}

    .home_competencies__nkdoi li {
        width: 25%;
        margin-bottom: 2em;
        margin-right: auto;
        margin-left: auto;
        text-indent: -12.5%;
    }

        .home_competencies__nkdoi li span {
            position: relative;
            text-align: center;
        }

.home_copyright__JR_sL {
    font-size: calc(12px + 0.5vw);
    margin-top: 4em;
    margin-bottom: 0;
    color: white;
    font-family:Poppins;
}

@media(max-width:124em) {
    .home_logo__fwoF8 {
        width: 50vw;
    }

    .home_textDiv__GApgZ p {
        font-size: 32px;
    }

    #home_more__U_0Wj {
        font-size: 32px;
    }

    .home_headerText__0GAyB {
        font-size: 48px;
    }

    .home_about__7XlFx {
        font-size: 28px;
        text-indent: 56px;
    }

    .home_peter___Anyo {
        margin-top: 1.5em;
    }

    .home_competenciesHeader__9psDf {
        font-size: 34px;
    }

    .home_competencies__nkdoi {
        font-size: 32px;
    }

    .home_copyright__JR_sL {
        font-size: 14px;
    }
}

@media(max-width:105em) {
    .home_logo__fwoF8 {
        width: 60vw;
    }

    .home_textDiv__GApgZ p {
        font-size: 24px;
    }

    #home_more__U_0Wj {
        font-size: 24px;
    }

    .home_headerText__0GAyB {
        font-size: 42px;
    }

    .home_competencies__nkdoi {
        transform: translateX(5%);
    }

        .home_competencies__nkdoi li {
            width: 30%;
        }
}

@media(max-width: 87.5em) {
    .home_main__C5E0Z {
        margin-right: 0.25em;
        margin-left: 0.25em;
    }

    .home_logo__fwoF8 {
        width: 70vw;
    }

    .home_textDiv__GApgZ {
        width: 100%;
    }

        .home_textDiv__GApgZ p {
            font-size: calc(18px + 1vw);
            width: 45%;
        }

    #home_more__U_0Wj {
        font-size: calc(18px + 1vw);
        width: 45%;
        margin-top: 0;
    }

    .home_about__7XlFx {
        font-size: 24px;
        text-indent: 48px;
    }

    .home_competencies__nkdoi {
        width: 90%;
        transform: translateX(2.5%);
    }
}

@media screen and (orientation: landscape) {

    @media (max-width: 68em) {
        .home_textDiv__GApgZ p {
            font-size: 28px;
        }

        #home_more__U_0Wj {
            font-size: 28px;
        }

        .home_logo__fwoF8 {
            margin-top: 0;
            width: 30%;
        }

        .home_headerText__0GAyB {
            font-size: 38px;
        }

        .home_about__7XlFx {
            font-size: 22px;
            text-indent: 44px;
        }

        .home_peter___Anyo {
            width: 40vw;
        }

        .home_competenciesHeader__9psDf {
            font-size: 28px;
        }

        .home_competencies__nkdoi {
            font-size: 24px;
        }

            .home_competencies__nkdoi li {
            }

        .home_copyright__JR_sL {
            font-size: 12px;
        }
    }


    @media (max-width: 54em) {
        .home_logo__fwoF8 {
            width: 37.5%;
        }

        .home_textDiv__GApgZ {
            flex-wrap: wrap;
            width: 100%;
        }

            .home_textDiv__GApgZ p {
                width: 45%;
                font-size: 24px;
            }

        #home_more__U_0Wj {
            font-size: 24px;
            width: 45%;
            margin-top: 0;
        }

        .home_headerText__0GAyB {
            font-size: 36px;
        }

        .home_competenciesHeader__9psDf {
            font-size: 28px;
        }

        .home_competencies__nkdoi {
            flex-direction: row;
            gap: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            width: 90%;
            font-size: 22px;
            list-style-position: inside;
        }

            .home_competencies__nkdoi li {
                width: 30%;
                margin-left: auto;
                text-indent: -20px;
            }
    }

    @media(max-width: 50em) {
        .home_logo__fwoF8 {
            width: 80%;
        }
    }

    @media(max-width: 36em) {
        .home_logo__fwoF8 {
            width: 50%;
        }

        .home_textDiv__GApgZ p {
            font-size: 20px;
        }

        #home_more__U_0Wj {
            font-size: 20px;
        }

        .home_headerText__0GAyB {
            font-size: 28px;
        }

        .home_about__7XlFx {
            font-size: 18px;
            text-indent: 36px;
        }

        .home_peter___Anyo {
            width: 45vw;
        }

        .home_competenciesHeader__9psDf {
            font-size: 20px;
        }

        .home_competencies__nkdoi {
            font-size: 16px;
        }

            .home_competencies__nkdoi li {
                width: 30%;
            }
    }

    @media(max-width:24em) {

        .home_competencies__nkdoi {
            font-size: 16px;
        }
    }
}

@media screen and (orientation: portrait) {

    @media (max-width: 68em) {
        .home_textDiv__GApgZ p {
            margin-bottom: 1em;
        }

        .home_headerText__0GAyB {
            font-size: 42px;
        }

        .home_about__7XlFx {
            font-size: 22px;
            text-indent: 44px;
            width: 90%;
        }

        .home_peter___Anyo {
            width: 50vw;
        }

        .home_competenciesHeader__9psDf {
            font-size: 32px;
        }

        .home_competencies__nkdoi {
            flex-direction: row;
            gap: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            width: 90%;
            font-size: 26px;
        }

            .home_competencies__nkdoi li {
                width: 30%;
                margin-left: auto;
                text-indent: -24px;
            }

        .home_copyright__JR_sL {
            font-size: 12px;
        }
    }


    @media (max-width: 52em) {

        .home_textDiv__GApgZ {
            flex-wrap: wrap;
            width: 100%;
        }

            .home_textDiv__GApgZ p {
                font-size: 24px;
            }

        #home_more__U_0Wj {
            font-size: 24px;
            margin-top: 0;
        }

        .home_headerText__0GAyB {
            font-size: 32px;
        }

        .home_competenciesHeader__9psDf {
            font-size: 28px;
        }

        .home_competencies__nkdoi {
            flex-direction: row;
            gap: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            width: 90%;
            font-size: 24px;
        }

            .home_competencies__nkdoi li {
                width: 45%;
                margin-left: auto;
                text-indent: -22px;
            }
    }

    @media(max-width: 40em) {
        .home_textDiv__GApgZ p {
            width: 100%;
        }

        #home_more__U_0Wj {
            width: 100%;
        }

        .home_about__7XlFx {
            font-size: 20px;
            text-indent: 40px;
        }

        .home_peter___Anyo {
            width: 70vw;
        }

        .home_competenciesHeader__9psDf {
            font-size: 24px;
        }
    }

    @media(max-width:24em) {
        .home_about__7XlFx {
            font-size: 16px;
            text-indent: 36px;
        }

        .home_competenciesHeader__9psDf {
            font-size: 20px;
        }

        .home_competencies__nkdoi {
            font-size: 16px;
            width: 95%;
        }
    }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/galleryItems.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.galleryItems_gallery_item__904ck {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50vh;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    overflow:visible;
    margin-bottom:2em;
}

.galleryItems_imageWrapper___Sr8l {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    vertical-align: middle;
    width: 100%;
    height: 85%;
    position: relative;
    transition: 0.3s all ease-in-out;
    margin: auto;
    box-sizing: border-box;
    overflow: visible;
    padding: 6px;
    filter: drop-shadow(0 -4px 0 #bd7c02) drop-shadow(0 4px 0 #bd7c02) drop-shadow(-4px 0 0 #bd7c02) drop-shadow(4px 0 0 #bd7c02);
    -webkit-backdrop-filter:blur(0);
            backdrop-filter:blur(0);
}

    .galleryItems_imageWrapper___Sr8l img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin: 0;
        padding: 0;
        position: relative !important;
        box-sizing: border-box;
    }

    .galleryItems_imageWrapper___Sr8l:hover {
        transform: scale(1.025);
        cursor: pointer;
    }

.galleryItems_gallery_item__904ck p {
    color: white;
    font-size: 1.75em;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: calc(16px + 1vw);
    margin-top: 0.5em;
    margin-bottom: 0;
    white-space: normal;
}

@media(max-width: 124em) {
    .galleryItems_gallery_item__904ck{
        margin-bottom:1em;
    }
    .galleryItems_gallery_item__904ck p {
        font-size: 26px;
    }

    .galleryItems_imageWrapper___Sr8l {
        filter: drop-shadow(0 -3px 0 #bd7c02) drop-shadow(0 3px 0 #bd7c02) drop-shadow(-3px 0 0 #bd7c02) drop-shadow(3px 0 0 #bd7c02);
    }
}

@media(max-width:87.5em) {
    .galleryItems_gallery_item__904ck {
        width: 30%;
        height: 45vh;
    }

        .galleryItems_gallery_item__904ck p {
            font-size: 1.5em;
        }
}

@media screen and (orientation: landscape) {
    @media(max-width: 68em) {

        .galleryItems_gallery_item__904ck {
            width: 35vw;
            height: 70vh;
            margin-bottom:0.5em;
        }

        .galleryItems_imageWrapper___Sr8l:hover {
            transform: none;
            cursor: pointer;
        }

        .galleryItems_gallery_item__904ck p {
            font-size: 20px;
            margin-top: 0.5em;
        }
    }

    @media(max-width: 50em) {
        .galleryItems_gallery_item__904ck {
            height: 60vh;
        }

            .galleryItems_gallery_item__904ck p {
                font-size: 18px;
            }

        .galleryItems_imageWrapper___Sr8l {
            filter: drop-shadow(0 -2px 0 #bd7c02) drop-shadow(0 2px 0 #bd7c02) drop-shadow(-2px 0 0 #bd7c02) drop-shadow(2px 0 0 #bd7c02);
        }
    }

    @media(max-width: 36em) {
        .galleryItems_gallery_item__904ck p {
            font-size: 1em;
        }
    }
}

@media screen and (orientation: portrait) {
    @media(max-width: 68em) {

        .galleryItems_gallery_item__904ck {
            width: 45vw;
            height: 40vh;
            margin-bottom: 0.25em;
        }

        .galleryItems_imageWrapper___Sr8l:hover {
            transform: none;
            cursor: pointer;
        }

        .galleryItems_gallery_item__904ck p {
            font-size: 1.75em;
        }
    }

    @media(max-width: 50em) {

        .galleryItems_gallery_item__904ck {
            height: 45vh;
        }

            .galleryItems_gallery_item__904ck p {
                font-size: 1.5em;
            }

        .galleryItems_imageWrapper___Sr8l {
            filter: drop-shadow(0 -2px 0 #bd7c02) drop-shadow(0 2px 0 #bd7c02) drop-shadow(-2px 0 0 #bd7c02) drop-shadow(2px 0 0 #bd7c02);
        }

        .galleryItems_imageWrapper___Sr8l img {
            max-height: 90%;
        }
    }

    @media(max-width: 30em) {
        .galleryItems_gallery_item__904ck {
            width: 55vw;
            height: 40vh;
        }

            .galleryItems_gallery_item__904ck p {
                font-size: 1.25em;
            }
    }

    @media(max-width: 24em) {
            .galleryItems_gallery_item__904ck p {
                font-size: 1em;
            }
    }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/Gallery.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Gallery_container__nNRQm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    gap: 3em;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding-bottom: 2em;
    padding-top: 2em;
}

.Gallery_twoRowContainer__OKXov {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:2em;
    width:100%;
    height:-moz-fit-content;
    height:fit-content;
}


.Gallery_button_div__KJAgE {
    width: 100%;
}

    .Gallery_button_div__KJAgE button {
        display: flex;
        margin: auto;
        background-color: #dc9102;
        color: black;
        border: none;
        border-radius: 10px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        padding: 0.25em;
        cursor: pointer;
    }

@media(max-width: 1024px) {
    .Gallery_container__nNRQm {
        padding-left: 1em;
        margin-right: 1em;
    }
}

@media screen and (orientation: landscape) {
    @media(max-width: 68em) {
        .Gallery_container__nNRQm {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row; /* Set this to row for horizontal layout */
            overflow-x: auto; /* Enable horizontal scrolling */
            gap: 3em;
            justify-content: flex-start; /* Align items to the start */
            width: 100%;
            margin: 0;
            padding-bottom: 2em;
            padding-top: 2em;

        }

        .Gallery_button_div__KJAgE {
            display: none;
        }
    }
}

@media screen and (orientation: portrait) {

    @media(max-width: 68em) {
        .Gallery_container__nNRQm {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row; /* Set this to row for horizontal layout */
            overflow-x: auto; /* Enable horizontal scrolling */
            gap: 3em;
            justify-content: flex-start; /* Align items to the start */
            width: 100%;
            margin: 0;
            padding-bottom: 2em;
            padding-top: 2em;
            white-space: nowrap; /* Prevents wrapping of items */
        }

        .Gallery_button_div__KJAgE {
            display: none;
        }
        .Gallery_twoRowContainer__OKXov {
            flex-direction: column;
            gap: 1em;
        }
    }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/Lightbox.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Lightbox_lightbox__N0_Gw {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 1);
    display: flex;
    flex-direction: column;
    z-index: 3;
    padding-top: 0.5em;
    overscroll-behavior: contain;
    overflow: hidden;
    touch-action: pinch-zoom, double-tap-zoom;
    box-sizing:border-box;
}

.Lightbox_imageContainer__hYwFZ {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 90vw;
    font-family: Poppins;
}

.Lightbox_mainImageContainer__6SdBs {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: 80%;
    margin: auto;
    margin-top: auto;
    margin-bottom: 0;
    justify-content: center;
}

.Lightbox_mainImageWrapper__svxXS {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 90%;
    margin: auto;
}

.Lightbox_mainImage__o8cZa {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.Lightbox_imageDescription__JjUt0 {
    display: flex;
    color: white;
    font-size: calc(20px + 1vw);
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


.Lightbox_arrowButton__btQIu {
    position: absolute;
    top: 50%;
    font-size: calc(24px + 2.5vw);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: 1;
}

    .Lightbox_arrowButton__btQIu.Lightbox_left__1DiIn {
        left: 15px;
    }

    .Lightbox_arrowButton__btQIu.Lightbox_right__IyqnB {
        right: 15px;
    }

.Lightbox_closeButton__u2OeW {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: calc(24px + 2.5vw);
    background-color: rgba(0,0,0,0.25);
    border: none;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: 1;
}

.Lightbox_previewContainer__G7ZNf {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
    margin-top: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.Lightbox_previewImageWrapper__75b8y {
    width: 5vw;
    height: 5vw;
    margin: 1vw 1vw;
    cursor: pointer;
    border: none;
    position: relative;
}

.Lightbox_previewImage__ItZj4 {
    object-fit: cover;
}

.Lightbox_selectedPreview__8AYYU {
    transform: scale(1.3);
}

.Lightbox_placeholder__Eyz6h {
    width: 5vw;
    height: 5vw;
    margin: 1vw 1vw;
    cursor: pointer;
    object-fit: cover;
    border: none;
    cursor: default;
}

.Lightbox_animateOutToLeft__bcaHN,
.Lightbox_animateOutToRight__cqfvV {
    transition: transform 0.4s ease-in-out;
}

.Lightbox_animateOutToLeft__bcaHN {
    transform: translate3d(-90rem, 0%, 0);
}

.Lightbox_animateOutToRight__cqfvV {
    transform: translate3d(90rem, 0%, 0);
}

.Lightbox_animateInFromLeft__1Cjjz {
    transform: translate3d(-90rem, 0, 0);
    animation: Lightbox_slideInFromLeft__NwlD8 0.4s ease-in-out forwards;
}


.Lightbox_animateInFromRight__G5RzM {
    transform: translate3d(90rem, 0, 0);
    animation: Lightbox_slideInFromRight__H13zH 0.4s ease-in-out forwards;
}


@keyframes Lightbox_slideInFromLeft__NwlD8 {
    to {
        transform: translate3d(0, 0, 0);
    }
}


@keyframes Lightbox_slideInFromRight__H13zH {
    to {
        transform: translate3d(0, 0, 0);
    }
}

.Lightbox_fadeIn__6Fj8r {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.Lightbox_fadeOut__SpGSQ {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


@media(max-width: 124em) {
    .Lightbox_previewImageWrapper__75b8y {
        width: 5rem;
        height: 5rem;
        margin: 1em 1em;
    }

    .Lightbox_placeholder__Eyz6h {
        width: 5rem;
        height: 5rem;
        margin: 1em 1em;
    }

    .Lightbox_imageDescription__JjUt0 {
        font-size: 28px;
    }
}

@media(max-width: 96em) {
    .Lightbox_imageDescription__JjUt0 {
        font-size: 26px;
    }
}

@media(max-width: 80em) {
    .Lightbox_imageDescription__JjUt0 {
        font-size: 24px;
    }
}

@media(max-width:56.25em) {
    .Lightbox_arrowButton__btQIu {
        display: none;
    }

    .Lightbox_previewImageWrapper__75b8y {
        width: 4.25em;
        height: 4.25em;
        margin: 0.75rem 0.75rem;
    }

    .Lightbox_placeholder__Eyz6h {
        width: 4em;
        height: 4em;
        margin: 0.75rem 0.75rem;
    }

    .Lightbox_imageDescription__JjUt0 {
        font-size: 22px;
    }
}

@media(max-width:37.5em) {
    .Lightbox_imageContainer__hYwFZ {
        max-width: 100vw;
    }

    .Lightbox_imageDescription__JjUt0 {
        font-size: 1.5rem;
        margin-top: 0.25rem;
    }

    .Lightbox_previewImageWrapper__75b8y {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0.75rem 0.75rem;
    }

    .Lightbox_placeholder__Eyz6h {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0.75rem 0.75rem;
    }

    .Lightbox_closeButton__u2OeW {
        top: 10px;
        right: 10px;
        font-size: 2.25rem;
    }

    .Lightbox_imageDescription__JjUt0 {
        font-size: 20px;
    }
}

@media(max-width:25em) {
    .Lightbox_imageDescription__JjUt0 {
        font-size: 1.25rem;
    }

    .Lightbox_previewImageWrapper__75b8y {
        width: 2.75rem;
        height: 2.75rem;
        margin: 0.5rem 0.5rem;
    }

    .Lightbox_placeholder__Eyz6h {
        width: 2.75rem;
        height: 2.75rem;
        margin: 0.5rem 0.5rem;
    }

    .Lightbox_closeButton__u2OeW {
        top: 5px;
        right: 5px;
        font-size: 2rem;
    }

    .Lightbox_imageDescription__JjUt0 {
        font-size: 18px;
    }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/Testimonials.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Testimonials_container__m5ZTP {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    gap: 5em;
    justify-content: space-evenly;
    width: 100%;
    margin: 1em;
}

.Testimonials_testimonial__2inzX {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: Poppins;
    font-size: calc(18px + 0.75vw);
}

.Testimonials_quote__pLTtL{
    display:block;
    flex-direction:column;
    margin-top:auto;
}

.Testimonials_quotee__3n07e {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 0;
}

@media(max-width:124em) {
    .Testimonials_testimonial__2inzX{
        font-size:28px;
    }
}

@media(max-width:105em) {
    .Testimonials_testimonial__2inzX {
        font-size: 26px;
    }
}

@media(max-width: 87.5em) {
    .Testimonials_testimonial__2inzX {
        font-size: 24px;
    }
}

@media (max-width: 68em) {

    .Testimonials_container__m5ZTP{
        gap:3em;
    }

    .Testimonials_testimonial__2inzX {
        height: -moz-fit-content;
        height: fit-content;
        margin-bottom: 2em;
        font-size:24px;
    }
}

@media(max-width: 36em) {
    .Testimonials_container__m5ZTP{
        gap: 2em;
    }
    .Testimonials_testimonial__2inzX {
        font-size: 20px;
        margin-bottom:1.5em;
    }
}

@media(max-width:25em) {
    .Testimonials_testimonial__2inzX {
        font-size: 18px;
    }

}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/Contact.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Contact_container__ZEYbW {
    display: flex;
    color: white;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

    .Contact_container__ZEYbW div {
        width: 25%;
        white-space: nowrap;
    }

.Contact_title__7TgAL {
    font-size: calc(20px + 1.25vw);
    text-shadow: 1px 0 0 #dc9102, 0 -1px 0 #dc9102, 0 1px 0 #dc9102, -1px 0 0 #dc9102;
    margin-bottom: 0;
}

.Contact_body_text__fYPZs {
    font-family: Poppins;
    font-size: calc(16px + 1vw);
}

.Contact_logo_container__HzTxR {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    justify-content: center;
    gap: 1em;
}

    .Contact_logo_container__HzTxR img {
        width: 128px;
        height: auto;
    }

        .Contact_logo_container__HzTxR img:hover {
            animation: Contact_shake__3d7TP 0.5s ease-in-out;
        }

@media(max-width:216em) {
    .Contact_logo_container__HzTxR img {
        width: 100px;
    }
}

@media(max-width:160em) {
    .Contact_logo_container__HzTxR img {
        width: 80px;
    }
}

@media screen and (orientation: landscape) {

    @media(max-width:124em) {
        .Contact_title__7TgAL {
            font-size: 34px;
        }

        .Contact_body_text__fYPZs {
            font-size: 26px;
        }

        .Contact_logo_container__HzTxR img {
            width: 64px;
        }
    }

    @media(max-width:96em) {
        .Contact_title__7TgAL {
            font-size: 30px;
        }

        .Contact_body_text__fYPZs {
            font-size: 24px;
        }

        .Contact_logo_container__HzTxR img {
            width: 60px;
        }
    }

    @media(max-width:87.5em) {
        .Contact_title__7TgAL {
            font-size: 30px;
        }

        .Contact_body_text__fYPZs {
            font-size: 24px;
        }

        .Contact_logo_container__HzTxR img {
            width: 56px;
        }
    }

    @media(max-width:80em) {
        .Contact_title__7TgAL {
            font-size: 28px;
        }

        .Contact_body_text__fYPZs {
            font-size: 22px;
        }

        .Contact_logo_container__HzTxR img {
            width: 54px;
        }
    }

    @media(max-width:68em) {
        .Contact_title__7TgAL {
            font-size: 24px;
        }

        .Contact_body_text__fYPZs {
            font-size: 18px;
        }

        .Contact_logo_container__HzTxR img {
            width: 48px;
        }
    }

    @media(max-width:54em) {
        .Contact_container__ZEYbW div {
            width: 50%;
        }

        .Contact_title__7TgAL {
            font-size: 28px;
        }

        .Contact_body_text__fYPZs {
            font-size: 22px;
        }

        .Contact_logo_container__HzTxR img {
            width: 60px;
        }
    }

    @media(max-width:30em) {
        .Contact_container__ZEYbW div {
            width: 100%;
        }
    }
}

@media screen and (orientation: portrait) {
    @media(max-width:68em) {
        .Contact_title__7TgAL {
            font-size: 28px;
        }

        .Contact_body_text__fYPZs {
            font-size: 20px;
        }

        .Contact_logo_container__HzTxR img {
            width: 56px;
        }
    }

    @media(max-width:60em) {
        .Contact_title__7TgAL {
            font-size: 24px;
        }

        .Contact_body_text__fYPZs {
            font-size: 18px;
        }

        .Contact_logo_container__HzTxR img {
            width: 52px;
        }
    }

    @media(max-width:52em) {
        .Contact_title__7TgAL {
            font-size: 22px;
        }

        .Contact_body_text__fYPZs {
            font-size: 18px;
        }

        .Contact_logo_container__HzTxR {
            flex-direction: row;
            gap: 0.75em;
        }

            .Contact_logo_container__HzTxR img {
                width: 48px;
            }
    }

    @media(max-width:42.5em) {
        .Contact_container__ZEYbW div {
            width: 50%;
        }

        .Contact_body_text__fYPZs {
            font-size: 16px;
        }

        .Contact_logo_container__HzTxR {
            flex-direction: row;
        }
    }

    @media(max-width:36em) {
        .Contact_container__ZEYbW div {
            width: 100%;
        }

        .Contact_title__7TgAL {
            font-size: 24px;
        }

        .Contact_body_text__fYPZs {
            font-size: 18px;
        }

        .Contact_logo_container__HzTxR {
            flex-direction: row;
        }

            .Contact_logo_container__HzTxR img {
                width: 56px;
            }
    }

    @media(max-width:20em) {

        .Contact_title__7TgAL {
            font-size: 20px;
        }

        .Contact_body_text__fYPZs {
            font-size: 16px;
        }

        .Contact_logo_container__HzTxR {
            flex-direction: row;
        }

            .Contact_logo_container__HzTxR img {
                width: 48px;
            }
    }
}

@keyframes Contact_shake__3d7TP {
    0%, 100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }
}

